body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f3f3f3;
}

h1 {
    color: #007BFF;
}

input, button {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    cursor: pointer;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: #218838;
}
